<div class="mdc-layout-grid__inner">
  <div class="mdc-layout-grid__cell--span-12 subtitle-area">
    <div class="subtitle">
      <h3 class="mdc-typography--headline3"><%= subtitle %></h3>
      <div class="marker"></div>
    </div>
  </div>
</div>
