<div class="swiper-container">
  <div class="swiper-wrapper">
    <% images.forEach(function (v, k) { %>
      <div class="swiper-slide">
        <img src="<%= v.src %>" alt="<%= v.alt %>" />
      </div>
    <% }); %>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
