@import "common";
@import "loading";
@import "subtitle";
@import "subsubtitle";
@import "top";
@import "reserve";
@import "contact";

@tailwind base;
@tailwind components;
@tailwind utilities;


.swiper-button-prev,
.swiper-button-next {
  width: 2rem;
  height: 2rem;
  margin-top: -16px;
  &::after {
    font-size: 0 !important;
  }
}
.swiper-button-prev {
  background: url(../../public/image/arrow_left.svg) no-repeat center center / contain;
}
.swiper-button-next {
  background: url(../../public/image/arrow_right.svg) no-repeat center center / contain;
}
