// swiper
.swiper-button-prev,
.swiper-button-next {
  width: 2rem;
  height: 2rem;
  margin-top: -16px;
}
.swiper-button-prev {
  background: url(../../public/image/arrow_left.svg) no-repeat center center / contain;
}
.swiper-button-next {
  background: url(../../public/image/arrow_right.svg) no-repeat center center / contain;
}
