// swiper
.swiper-button-prev,
.swiper-button-next {
  width: 2rem;
  height: 2rem;
  margin-top: -16px;
}
.swiper-button-prev {
  background: url(../../public/image/arrow_left.svg) no-repeat center center / contain;
}
.swiper-button-next {
  background: url(../../public/image/arrow_right.svg) no-repeat center center / contain;
}
.swiper-slide {
  img {
    width: 100%;
    // height: 30vw;
    object-fit: cover;
    display: none;
    @media screen and (max-width: 480px) {
      // height: 80vw;
      width: 100%;
    }
  }
}
