.about p {
  text-align: center;
  line-height: 2rem;
}

.center {
  p {
    text-align: center;
  }
}

.access {
  text-align: center;
}

.service {
  text-align: center;

  ul {
    list-style: none;
  }

  li {
    margin-bottom: 2rem;
  }

  .headline {
    margin-bottom: 0.7rem;
    font-size: 1.2rem;
    font-weight: 500;

    .underline {
      text-decoration: underline;
    }
  }

  .text {
    margin-bottom: 0.7rem;
  }

  .attr {
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 0.3rem;
  }

  line-height: 1.5rem;
}

@media (min-width: 768px) {
  .service {
    text-align: left;
  }
}