$mdc-theme-primary: #000000; // 錆鉄御納戸（さびてつおなんど）
$mdc-theme-on-primary: #FFFFFF;

$mdc-theme-secondary: #000000; // 藍墨茶（あいすみちゃ）
$mdc-theme-on-secondary: #FFFFFF; // 生成り色（きなりいろ）

$mdc-theme-tertiary: #F9A638; // 黄支子（きくちなしいろ）

$mdc-theme-background: #FFFFFF; // 生成り色（きなりいろ）
$mdc-theme-on-background: #000000; // 錆鉄御納戸（さびてつおなんど）
$mdc-theme-background-secondary: #FBFAF5; // 生成り色（きなりいろ）

$mdc-theme-primary2: #606060; // 湊鼠（みなとねずみ）
$mdc-theme-primary3: #EBF6F7; // 藍白（あいじろ）

// $mdc-typography-font-family: Georgia, '游明朝', YuMincho, 'Noto Serif JP', 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;
$mdc-typography-font-family: 'M PLUS Rounded 1c', sans-serif;

$mdc-typography-styles-headline2: (
  font-size: 2rem
);
$mdc-typography-styles-headline3: (
  font-size: 1rem
);
$mdc-typography-styles-headline4: (
  font-size: 1rem,
  line-height: 2rem
);
$mdc-typography-styles-subtitle1: (
  font-weight: 500
);
$mdc-typography-styles-body1: (
  font-size: 1rem
);
$mdc-typography-styles-body2: (
  font-size: 0.9rem
);