$mdc-theme-primary: #000000;
$mdc-theme-on-primary: #FFFFFF;

$mdc-theme-secondary: #000000;
$mdc-theme-on-secondary: #FFFFFF;

$mdc-theme-tertiary: #F9A638;

$mdc-theme-background: #FFFFFF;
$mdc-theme-on-background: #000000;
$mdc-theme-background-secondary: #FBFAF5;

$mdc-theme-primary2: #606060;
$mdc-theme-primary3: #EBF6F7;

$mdc-typography-font-family: 'M PLUS 1p', sans-serif;

$mdc-typography-styles-headline2: (
  font-size: 2rem
);
$mdc-typography-styles-headline3: (
  font-size: 1rem
);
$mdc-typography-styles-headline4: (
  font-size: 1rem,
  line-height: 2rem
);
$mdc-typography-styles-subtitle1: (
  font-weight: 500
);
$mdc-typography-styles-body1: (
  font-size: 1rem
);
$mdc-typography-styles-body2: (
  font-size: 0.9rem
);