.bonchi {
  .content {
    .shop {
      // https://littlethings.jp/blog/web/css-hover-effect
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      :hover {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
      }
    }
  }

  // https://littlethings.jp/blog/web/css-effect-scroll
  .fade {
    transform: translate(0, 45px);
    transition: all 1.3s;
  }
  .fade.effect-scroll {
    transform: translate(0, 0);
  }
}
