@import "./variable";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/typography/mdc-typography";
@import "../css/swiper.min";

:root {
  font-size: 14px;
  letter-spacing: 0.2em;
  scroll-behavior: smooth;
  @media screen and (max-width: 480px) {
    font-size: 12px;
    letter-spacing: 1px;
  }
}
body {
  margin: 0;
  background-color: $mdc-theme-background;
  color: $mdc-theme-on-background;

  font-family: $mdc-typography-font-family;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  vertical-align: top;
}

$transration-sec: 0.5s;
a {
  text-decoration: none;
  color: $mdc-theme-primary;
  text-decoration: none;
  -webkit-transition: $transration-sec;
  -moz-transition: $transration-sec;
  -o-transition: $transration-sec;
  -ms-transition: $transration-sec;
  transition: $transration-sec;
}
a:hover {
  color: $mdc-theme-secondary;
}

.mdc-layout-grid {
  padding-left: 8.5vw;
  padding-right: 8.5vw;
  --mdc-layout-grid-gutter-desktop: 1vw;
  @media screen and (max-width: 480px) {
    padding-left: 4.5vw;
    padding-right: 4.5vw;
  }
}

.mdc-layout-grid__inner {
  --mdc-layout-grid-gutter-desktop: 5vw;
}

.mdc-layout-grid.no-margin {
  margin: 0;
  padding: 0;
  --mdc-layout-grid-margin-desktop: 0px;
  --mdc-layout-grid-margin-tablet: 0px;
  --mdc-layout-grid-margin-phone: 0px;
}
.mdc-layout-grid.no-margin .mdc-layout-grid__inner {
  --mdc-layout-grid-gutter-desktop: 0px;
  --mdc-layout-grid-gutter-tablet: 0px;
  --mdc-layout-grid-gutter-phone: 0px;
}
.newstitle {
  text-align: center;
  line-height: 2.8rem;
}

.concept-text {
  position: absolute;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: $mdc-theme-on-primary;
  p.main {
    letter-spacing: 0.2em;
  }
  p.text {
    letter-spacing: 0.2em;
    padding-top: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .concept-main {
    height: 80vw;
  }
}

iframe.googlemap-gray {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}


.access {
  @media screen and (max-width: 480px) {
    text-align: center;
  }
}
.access i {
  font-size: 1.6rem;
  width: 30px;
  text-align: center;
}
.access .headline {
  display: inline;
}
.access p:not(.headline) {
  margin-left: 35px;
  margin-bottom: 20px;
  @media screen and (max-width: 480px) {
    margin-left: 0px;
  }
}

.grid-company {
  background-color: #ffffff;
  padding-bottom: 100px;
}
.cell-centering {
  position: relative;
  @media screen and (max-width: 480px) {
    position: static;
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    width: 70%;
    @media screen and (max-width: 480px) {
      position: static;
      top: auto;
      left: auto;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none;
    }
  }
}
.company-logo {
  @media screen and (max-width: 480px) {
    margin-left: 15vw;
    width: 70vw;
  }
}
.access img {
  height: 100%;
  object-fit: cover;
  @media screen and (max-width: 480px) {
    width: 80vw;
    height: auto;
  }
}
.company {
  width: 100%;
}
.company th,
.company td {
  padding-top: 7px;
  padding-bottom: 7px;
}
.company th {
  text-align: right;
  font-weight: bold;
  padding-right: 20px;
}
@media screen and (max-width: 767px) {
  .company,
  .company tbody,
  .company tr,
  .company td,
  .company th {
    display: block;
    text-align: center;
  }
  .company th {
    width: auto;
    padding-right: 0;
  }
  .company td {
    padding-bottom: 14px;
  }
}

// footer
.footer {
  font-weight: 400;
  background-color: $mdc-theme-primary2;
  text-align: center;
  .wrap {
    padding-top: 20px;
    padding-bottom: 20px;
    .corporate {
      margin: 0 0 10px 0;
    }
    .copyright {
      margin: 0;
      font-size: 0.7rem;
    }
  }
}

// swiper
.swiper-button-prev,
.swiper-button-next {
  width: 32px;
  height: 32px;
  margin-top: -16px;
}
.swiper-button-prev {
  background: url(../image/arrow_left.svg) no-repeat center center / contain;
}
.swiper-button-next {
  background: url(../image/arrow_right.svg) no-repeat center center / contain;
}
.swiper-slide {
  img {
    height: 30vw;
    object-fit: cover;
    display: none;
    @media screen and (max-width: 480px) {
      height: 80vw;
      width: 100%;
    }
  }
}

.boshu ul {
  @media screen and (max-width: 480px) {
    padding-inline-start: 5vw;
  }
}