.fixed-bg {
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.fixed-bg__concept-main{
  background-image: url(../image/concept_main.jpg);
}

.access {
  text-align: center;
}
.access i {
  font-size: 1.6rem;
  width: 30px;
  text-align: center;
}
.access .headline {
  display: inline;
}
.access p:not(.headline) {
  margin-left: 35px;
  margin-bottom: 20px;
  @media screen and (max-width: 480px) {
    margin-left: 0px;
  }
}