$mdc-theme-primary: #FEDBD0;
$mdc-theme-on-primary: #442C2E;
$mdc-theme-secondary: rgb(211, 43, 127);
$mdc-theme-on-secondary: #442C2E;
$mdc-theme-surface: #FFFBFA;
$mdc-theme-on-surface: #442C2E;
$mdc-theme-background: rgb(224, 229, 235);
$mdc-theme-on-background: rgb(64, 60, 65);


$mdc-typography-font-family: Georgia, '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;

$mdc-typography-styles-body1: (
  font-size: 0.9rem
);
$mdc-typography-styles-body2: (
  font-size: 0.8rem
);