.concept {
  position:relative;
  overflow: hidden;
  height: 30rem;
  .main {
    position: absolute;
    top: 0.5rem;
    left: 1vw;
    z-index: 2;
    font-size: 2.8rem;
    font-weight: 300;
    letter-spacing: 0.2em;
    color: $mdc-theme-secondary;
  }
  .text {
    background: $mdc-theme-on-secondary;
    position: absolute;
    top: 2rem;
    left: 2vw;
    z-index: 1;
    height: 5rem;
    width: 30vw;
    p {
      padding-top: 2.5rem;
      padding-left: 2rem;
      letter-spacing: 0.2em;
    }
  }
  .image {
    position: absolute;
    top: 3rem;
    left: 3vw;
    img {
      width: 35vw;
    }
  }
}
.concept-reverse {
  position:relative;
  overflow: hidden;
  height: 30rem;
  .main {
    position: absolute;
    bottom: 0.5rem;
    right: 1vw;
    z-index: 2;
    font-size: 2.8rem;
    font-weight: 300;
    letter-spacing: 0.2em;
    color: $mdc-theme-secondary;
  }
  .text {
    background: $mdc-theme-on-secondary;
    position: absolute;
    bottom: 2rem;
    right: 2vw;
    z-index: 1;
    height: 5rem;
    width: 30vw;
    p {
      position: absolute;
      bottom: 0;
      padding-bottom: 2.5rem;
      padding-left: 2rem;
      letter-spacing: 0.2em;
    }
  }
  .image {
    position: absolute;
    bottom: 3rem;
    right: 3vw;
    img {
      width: 35vw;
    }
  }
}
