<div class="mdc-layout-grid__cell--span-6 <%= reverse ? 'concept-reverse' : 'concept' %>">
  <div class="main"><%= main %></div>
  <div class="text">
    <p><%= sub %></p>
  </div>
  <div class="image">
    <img src="<%= image %>" />
  </div>
</div>
