@import "menu";
.header {
  background: $mdc-theme-background;
  color: $mdc-theme-primary;
  .logo {
    width: 230px;
  }
  // .icon {
  //   width: 20px;
  //   margin-left: 10px;
  //   margin-right: 10px;
  // }
}
