<header class="mdc-top-app-bar header">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <h1>
        <img class="mdc-image-list__image logo" src="image/logo_akari.svg">
      </h1>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
      <%- include('menu') %>
    </section>
  </div>
</header>
