<header class="mdc-top-app-bar header">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <h1>
        <img class="mdc-image-list__image logo" src="image/logo_akari.svg">
      </h1>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end menu">
      <a href="#about" class="menu__item">
        about
      </a>
      <a href="#service" class="menu__item">
        service
      </a>
      <a href="#news" class="menu__item">
        news
      </a>
      <a href="" class="menu__item">
        studio/park
      </a>
      <a href="" class="menu__item">
        company
      </a>
      <a href="https://www.facebook.com/yamorisyamomonone2018" target=”_blank” class="menu__item">
        <i class="fab fa-facebook-square"></i>
      </a>
      <a href="https://www.instagram.com/yamorisyamomonone/" target=”_blank” class="menu__item">
        <i class="fab fa-instagram"></i>
      </a>
    </section>
  </div>
</header>
