<div class="menu desktop">
  <nav>
    <ul>
      <li>
        <a href="/#about">
          about
        </a>
      </li>
      <li>
        <a href="/#service">
          service
        </a>
      </li>
      <li>
        <a href="/#news">
          news
        </a>
      </li>
      <li>
        <a href="/reserve.html">
          studio/akari park
        </a>
      </li>
      <li>
        <a href="">
          company
        </a>
      </li>
      <li>
        <a
          href="https://www.facebook.com/yamorisyamomonone2018"
          target="”_blank”"
        >
          <i class="fab fa-facebook-square"></i>
        </a>
      </li>
      <li>
        <a
          href="https://www.instagram.com/yamorisyamomonone/"
          target="”_blank”"
        >
          <i class="fab fa-instagram"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>
<div class="menu mobile">
  <div class="menu__open">
    <i class="fas fa-bars"></i>
  </div>
  <div class="menu__close">
      <i class="fas fa-times"></i>
    </div>
  <nav>
    <ul>
      <li>
        <a href="/#about">about</a>
      </li>
      <li>
        <a href="/#service">service</a>
      </li>
      <li>
        <a href="/#news">news</a>
      </li>
      <li>
        <a href="/reserve.html">studio/akari park</a>
      </li>
      <li>
        <a href="">company</a>
      </li>
    </ul>
    <a href="https://www.facebook.com/yamorisyamomonone2018" target="”_blank”">
      <div class="menu__sns">
        <i class="fab fa-facebook-square"></i>
      </div>
    </a>
    <a href="https://www.instagram.com/yamorisyamomonone/" target="”_blank”">
      <div class="menu__sns">
        <i class="fab fa-instagram"></i>
      </div>
    </a>
  </nav>
</div>
