<div class="menu desktop">
  <div class="menu__items">
    <a href="/#about" class="menu__item">
      about
    </a>
    <a href="/#service" class="menu__item">
      service
    </a>
    <a href="/#news" class="menu__item">
      news
    </a>
    <a href="/reserve.html" class="menu__item">
      studio/akari park
    </a>
    <a href="" class="menu__item">
      company
    </a>
    <a
      href="https://www.facebook.com/yamorisyamomonone2018"
      target="”_blank”"
      class="menu__item"
    >
      <i class="fab fa-facebook-square"></i>
    </a>
    <a
      href="https://www.instagram.com/yamorisyamomonone/"
      target="”_blank”"
      class="menu__item"
    >
      <i class="fab fa-instagram"></i>
    </a>
  </div>
</div>
<div class="menu mobile">
  <div class="menu__open">
    <i class="fas fa-bars"></i>
  </div>
  <div class="menu mobile__inner">
    <div class="menu__right">
      <div class="menu__close">
        <i class="fas fa-times"></i>
      </div>
    </div>
    <a href="/#about">
      <div class="menu__item">
        about
      </div>
    </a>
    <a href="/#service">
      <div class="menu__item">
        service
      </div>
    </a>
    <a href="/#news">
      <div class="menu__item">
        news
      </div>
    </a>
    <a href="/reserve.html">
      <div class="menu__item">
        studio/akari park
      </div>
    </a>
    <a href="">
      <div class="menu__item">
        company
      </div>
    </a>
    <a href="https://www.facebook.com/yamorisyamomonone2018" target="”_blank”">
      <div class="menu__sns">
        <i class="fab fa-facebook-square"></i>
      </div>
    </a>
    <a href="https://www.instagram.com/yamorisyamomonone/" target="”_blank”">
      <div class="menu__sns">
        <i class="fab fa-instagram"></i>
      </div>
    </a>
  </div>
</div>
