.menu.mobile {
  height: 100%;
  i {
    font-size: 1.4rem;
  }
  .menu__open, .menu__close {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .menu__open {
    display: inline-block;
  }
  .menu__close {
    display: none;
  }
  nav {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3.9;
    background: rgba($mdc-theme-background, 0.9);
    padding-top: 4px;
    text-align: center;

    li {
      width: 100%;
      text-align: center;
      position: relative;

      a {
        line-height: 6rem;
        display: block;
      }
    }
    .menu__sns {
      padding-top: 1.4rem;
      padding-bottom: 1.4rem;
      margin-left: 1rem;
      margin-right: 1rem;
      display: inline-block;
    }
  }
}
.menu.desktop {
  display: none;
}

@media (min-width: 768px) {
  .menu.mobile {
    display: none;
  }
  .menu.desktop {
    display: block;
    height: 100%;
    width: 800px;
    padding-right: 1.5rem;
    position: relative;

    nav {
      position: absolute;
      bottom: 0;
      right: 0;
      padding-bottom: 0.2rem;

      li {
        display: inline-block;
        margin-left: 1rem;
        margin-right: 1rem;
        padding-top: 1.4rem;
      }

      i {
        font-size: 1.4rem;
      }
    }
  }
}
