.news {
  text-align: center;
  margin-bottom: 3rem;
  .image {
    margin-bottom: 1.5rem;
    img {
      width: 60vw;
      height: 60vw;
      object-fit: contain;
    }
  }
  .date {
    letter-spacing: 0.2em;
    margin-bottom: 1rem;
    font-size: 0.9rem;
  }
  .text {
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    line-height: 1.8em;
    margin-bottom: 1rem;
  }
  .more {
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    font-size: 0.9rem;
  }
}

@media (min-width: 768px) {
  .news {
    margin-bottom: 1rem;
    .image {
      img {
        width: 15vw;
        height: 15vw;
      }
    }
    .date {
      margin-bottom: 0.5rem;
    }
    .text {
      width: 15.5vw;
      line-height: 1.5em;
      margin-bottom: 0.5rem;
    }
    .more {
      text-align: right;
      width: 15.5vw;
      line-height: 1.3em;
    }
  }
}  