<div class="shop fade" style="top: <%= position.y %>px; left: <%= position.x %>px;">
  <div class="image">
    <a href="<%= '#' %>">
      <img class="no-hover-effect" src="<%= image %>" />
    </a>
  </div>
</div>
