<div class="mdc-layout-grid no-margin">
  <div class="mdc-layout-grid__inner fixed-bg">
    <div class="mdc-layout-grid__cell--span-12">
      <div class="concept-text">
        <p class="main mdc-typography--headline2">ともに学びあう</p>
        <p class="text mdc-typography--body1">
          ひとりひとりの想いが灯る、アカリ<br /><br />
          眠っていた元書庫の施設が<br />
          リノベ－ションにより学びあいの場へと生まれ変わりました<br /><br />
          多様な価値観が交差し、新しいモノ・コトが生まれる<br />
          多様な人との出会い、多様な文化との接点に、あなたもお越しください
        </p>
      </div>
    </div>
  </div>
</div>
