<div class="mdc-layout-grid no-margin bonchi">
  <div class="mdc-layout-grid__inner content">
    <%
    shops = [
      {
        image: 'image/bonchi/shop1.png',
        position: {x: 10, y: 10},
      },
      {
        image: 'image/bonchi/shop1.png',
        position: {x: 170, y: 90},
      },
      {
        image: 'image/bonchi/shop1.png',
        position: {x: 50, y: 100},
      },
    ]
    %>
    <%- include('components/shop', shops[0]) %>
    <%- include('components/shop', shops[1]) %>
    <%- include('components/shop', shops[2]) %>
  </div>
</div>
