<div class="mdc-layout-grid no-margin contact">
  <%- include('components/subtitle', {subtitle: 'contact'}) %>
  <div class="mdc-layout-grid__inner">
    <div
      class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone center methods"
    >
      <p class="desc">
        視察・研修などのご利用をご希望の場合についても、下記のいずれかからお問い合わせください。
      </p>
      <div class="center-desc">
        <div class="center-desc-headline">
          <i class="far fa-envelope"></i>
          <p>E-mail</p>
        </div>
        <a href="mailto:yamorisyamomonone@gmail.com">
          yamorisyamomonone@gmail.com
        </a>
      </div>
      <div class="center-desc">
        <div class="center-desc-headline">
          <i class="fas fa-phone"></i>
          <p>TEL</p>
        </div>
        <a href="tel:024-573-9013">
          024-573-9013
        </a>
      </div>
      <div class="center-desc">
        <div class="center-desc-headline">
          <i class="fas fa-user-friends"></i>
          <p>SNS</p>
        </div>
        <a
          href="https://www.facebook.com/yamorisyamomonone2018"
          target="_blank"
        >
          <i class="fab fa-facebook-square"></i>
        </a>
        <a href="https://www.instagram.com/yamorisyamomonone/" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
    <div
      class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone center"
    >
      <p class="desc">
        下記の入力フォームからもお問い合わせただけます。
      </p>
      <div
        style="
          width: 100%;
          height: 1200px;
          overflow: auto;
          -webkit-overflow-scrolling: touch;
        "
      >
        <iframe
          src="https://tayori.com/form/611c5599a7047a05ab9dd618f88a7c735c4990f0"
          width="100%"
          height="100%"
        ></iframe>
      </div>
    </div>
  </div>
</div>
