<!DOCTYPE html>
<html lang="ja">

<%- include('template/head') %>

<body class="mdc-typography">

  <%- include('template/header') %>

  <div class="mdc-top-app-bar--fixed-adjust">
    <%- include('studio_park') %>
    <%- include('template/footer') %>
  </div>
</body>

</html>