<!DOCTYPE html>
<html lang="ja">

<%- include('template/head') %>

<body class="mdc-typography">

  <%- include('template/header') %>

  <div class="mdc-top-app-bar--fixed-adjust">
    <div class="mdc-layout-grid no-margin">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-12 cell-concept concept-main">
          <img class="mdc-image-list__image" src="image/concept_main.png">
          <div class="concept-text">
            <p class="mdc-typography--headline4">ともに学びあう</p>
            <p class="mdc-typography--body1">
              リノベ－ションにより、眠っていた元書庫の施設が<br>
              学びあいの場と生まれ変わります<br>
              多様な価値観が交差し、新しいモノ・コトが生まれる「アカリ」<br>
              空間をシェアするだけではなく、<br>
              多様な人との出会い、多様な文化との接点としての機能を提供し、<br>
              １人１人の想いが灯る<br>
              「学びあいの場」を目指しています
            </p>
          </div>
        </div>
      </div>
      <div class="mdc-layout-grid__inner">
        <div
          class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone cell-concept concept-sub">
          <img class="mdc-image-list__image" src="image/concept_sub1.png">
          <div class="concept-text">
            <p class="mdc-typography--headline6">新たな学び</p>
            <p class="mdc-typography--body1">
              地域内外に開か れた場で<br>
              多様な人と出会い、共に学ぶ<br>
              学校教育・社会教育とは違う学びを目指します<br>
            </p>
          </div>
        </div>
        <div
          class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone cell-concept concept-sub">
          <img class="mdc-image-list__image" src="image/concept_sub2.png">
          <div class="concept-text">
            <p class="mdc-typography--headline6">新たなコミュニティ</p>
            <p class="mdc-typography--body2">
              駅前、保育園近くの立地<br>
              地域食材を活かしたトラットリア<br>
              地域の新たなコニュニティを目指します
            </p>
          </div>
        </div>
        <div
          class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone cell-concept concept-sub">
          <img class="mdc-image-list__image" src="image/concept_sub3.png">
          <div class="concept-text">
            <p class="mdc-typography--headline6">新たなつながり</p>
            <p class="mdc-typography--body1">
              学びのコンテンツを通し<br>
              イベント参加者・施設利用者・地域の接点となり<br>
              顔の見える関係づくりを広げます
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner subtitle">
        <div class="mdc-layout-grid__cell--span-12">
          <h2 class="mdc-typography--headline6">News</h2>
          <div class="marker"></div>
        </div>
      </div>
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-12">
          <h3 class="mdc-typography--headline5 newstitle">
            福島県伊達郡国見町にシェアオフィスがOPEN！（2019/10/1予定） <br>
            「アカリ」を共につくる仲間を募集します！！
          </h3>
        </div>
      </div>
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-6">
          <img class="mdc-image-list__image" style="width: 100%" src="image/map_2f.png">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="image/map_1f.png" alt="Swiper01"></div>
              <div class="swiper-slide"><img src="image/map_out.png" alt="Swiper01"></div>
              <div class="swiper-slide"><img src="image/marche.png" alt="Swiper01"></div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
        <div class="mdc-layout-grid__cell--span-6 boshu">
          <p class="mdc-typography--subtitle1">こんな人を募集しています</p>
          <ul>
            <li>地域に根ざしたお店を持ちたくて場所を探している</li>
            <li>地域で起業したくて場所を探している</li>
            <li>地域に拠点がほしいが、適切な場所がない</li>
            <li>地域おこし協力隊として福島にきたが、起業する環境を探している</li>
            <li>塾や英会話教室の経営をやりたいが、適切な場所を探している</li>
            <li>作家として活動しているが、アトリエとして使える場所を探している</li>
            <li>まちづくりがやりたい</li>
            <li>副業を考えているが、適切な場所がない</li>
          </ul>
          <p class="mdc-typography--subtitle1">入居にあたっての条件</p>
          <ul>
            <li>学びの場にふさわしい人柄であること</li>
            <li>地域の魅力を高める業態であること</li>
            <li>入居者同士協力してアカリをつくっていく気概のある方</li>
            <li>複数人でのシェアOK</li>
          </ul>
          <p class="mdc-typography--subtitle1">利用料金</p>
          <ul>
            <li>月額使用料 ¥25,000（共益費 5,000円含む）</li>
          </ul>
          <p class="mdc-typography--subtitle1">施設設備</p>
          <ul>
            <li>1部屋 13㎡</li>
            <li>電源・Wifi完備</li>
            <li>1Fに飲食店・ラウンジスペース予定</li>
            <li>屋外に公園スペース有り</li>
          </ul>
          <p class="mdc-typography--subtitle1">問い合わせ先</p>
          <a href="mailto:yamorisyamomonone@gmail.com" target="_blank">yamorisyamomonone@gmail.com</a>
        </div>
      </div>
    </div>
    <div class="mdc-layout-grid no-margin">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-12">
          <iframe class="googlemap-gray"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3149.189768797691!2d140.5390445797095!3d37.879244514014125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f8a63effff3e0d5%3A0x290f6d736d519745!2z44CSOTY5LTE3NzEg56aP5bO255yM5LyK6YGU6YOh5Zu96KaL55S65bGx5bSO6IiY5p2x77yR77yU4oiS77yY!5e0!3m2!1sja!2sjp!4v1554870222948!5m2!1sja!2sjp"
            width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner subtitle">
        <div class="mdc-layout-grid__cell--span-12">
          <h2 class="mdc-typography--headline6">Access</h2>
          <div class="marker"></div>
        </div>
      </div>
      <div class="mdc-layout-grid__inner access">
        <div class="mdc-layout-grid__cell--span-6 cell-centering">
          <img class="mdc-image-list__image" src="image/yard.png">
        </div>
        <div class="mdc-layout-grid__cell--span-6">
          <p class="mdc-typography--headline5">Co-working & Co-learning Space アカリ</p>
          <div>
            <i class="fas fa-map-pin"></i>
            <p class="headline">所在地</p>
            <p>
              福島県伊達郡国見町山﨑舘東14番地8
            </p>
          </div>
          <div class="access">
            <i class="fas fa-car"></i>
            <p class="headline">お車でお越しの場合</p>
            <p>
              東北自動車道 国見インターから約5分<br>
              JR福島駅から約30分
            </p>
          </div>
          <div class="access">
            <i class="fas fa-train"></i>
            <p class="headline">電車でお越しの場合</p>
            <p>
              JR藤田駅から徒歩1分
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="mdc-layout-grid grid-company">
      <div class="mdc-layout-grid__inner subtitle">
        <div class="mdc-layout-grid__cell--span-12">
          <h2 class="mdc-typography--headline6">Company</h2>
          <div class="marker"></div>
        </div>
      </div>
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-6 cell-centering">
          <img class="mdc-image-list__image company-logo" src="image/logo.png">
        </div>
        <div class="mdc-layout-grid__cell--span-6">
          <table class="company">
            <tr>
              <th>会社名</th>
              <td>株式会社 家守舎桃ノ音</td>
            </tr>
            <tr>
              <th>代表者名</th>
              <td>上神田 健太</td>
            </tr>
            <tr>
              <th>所在地</th>
              <td>福島県伊達郡国見町山﨑舘東14番地8</td>
            </tr>
            <tr>
              <th>設立</th>
              <td>2018年9 月5日</td>
            </tr>
            <tr>
              <th>事業</th>
              <td>転貸業、物品販売業、イベント企画業</td>
            </tr>
            <tr>
              <th>問い合わせ先</th>
              <td>
                <a href="mailto:yamorisyamomonone@gmail.com" target="_blank">yamorisyamomonone@gmail.com</a>
              </td>
            </tr>
            </table>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="wrap">
        <p class="corporate">家守舎桃ノ音</p>
        <p class="copyright">© Copyright 2019 yamorishamomonone All rights reserved.</p>
      </div>
    </div>
  </div>
</body>

</html>