<!DOCTYPE html>
<html lang="ja">

<%- include('template/head') %>

<body class="mdc-typography">
  <%- include('components/header') %>

  <div class="mdc-top-app-bar--fixed-adjust">
    <%- include('studio_park') %>
    <%- include('components/footer') %>
  </div>
</body>
</html>
