<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner subtitle">
    <div class="mdc-layout-grid__cell--span-12">
      <h2 class="mdc-typography--headline2">studio</h2>
      <div class="marker"></div>
    </div>
  </div>
  <div class="mdc-layout-grid__inner access">
    <div class="mdc-layout-grid__cell--span-6 cell-centering">
      <img class="mdc-image-list__image" src="image/yard.png" />
    </div>
    <div class="mdc-layout-grid__cell--span-6">
      <h3 class="mdc-typography--headline3">サービス</h3>
      <p>aaaaaa</p>
      <h3 class="mdc-typography--headline3">ご利用料金</h3>
      <p>aaaaaa</p>
      <div class="right">
        <a
          class="mdc-button mdc-button--raised right"
          href="https://airrsv.net/yamorisyamomonone/calendar?schdlId=s000029417"
          target="_blank"
          >空き確認・予約</a
        >
      </div>
    </div>
  </div>
</div>
<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner subtitle">
    <div class="mdc-layout-grid__cell--span-12">
      <h2 class="mdc-typography--headline6">park</h2>
      <div class="marker"></div>
    </div>
  </div>
  <div class="mdc-layout-grid__inner access">
    <div class="mdc-layout-grid__cell--span-6 cell-centering">
      <img class="mdc-image-list__image" src="image/yard.png" />
    </div>
    <div class="mdc-layout-grid__cell--span-6">
      <a
        class="mdc-button mdc-button--raised"
        href="https://airrsv.net/yamorisyamomonone/calendar?schdlId=s000029C7B"
        target="_blank"
        >空き確認・予約</a
      >
    </div>
  </div>
</div>
<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner subtitle">
    <div class="mdc-layout-grid__cell--span-12">
      <h2 class="mdc-typography--headline6">usecase</h2>
      <div class="marker"></div>
    </div>
  </div>
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-4 news">
      <img src="image/yard.png" />
      <p class="date">2019/9/12</p>
      <p class="text">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
      <a
        href="https://airrsv.net/yamorisyamomonone/calendar?schdlId=s000029C7B"
        target="_blank"
        >くわしく見る</a
      >
    </div>
  </div>
</div>
