.root {
  text-align: center;
  margin-bottom: 3rem;
}
.image {
  margin-bottom: 1.5rem;
}
.date {
  letter-spacing: 0.2em;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}
.text {
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  line-height: 1.8em;
  margin-bottom: 1rem;
  white-space: pre-wrap;
}
.more {
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  font-size: 0.9rem;
}
.img {
    object-fit: contain;
}

@media (min-width: 768px) {
  .root {
    margin-bottom: 1rem;
  }
  .image {
    width: 14vw;
    height: 14vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    overflow: hidden;
  }
  .date {
    margin-bottom: 0.5rem;
  }
  .text {
    width: 15.5vw;
    line-height: 1.5em;
    margin-bottom: 0.5rem;
    white-space: pre-wrap;
  }
  .more {
    text-align: right;
    width: 15.5vw;
    line-height: 1.3em;
  }
}
